.solutions{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70rem;
    align-items: center;
    justify-content: space-around;
}

.solutions::after{
    content: '';
    width: 120%;
    color: white;
    border: 3px solid white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.text-solutions{
    text-align: right;
    position: absolute;
    left: 10rem;
}

.text-solutions span{
    color: var(--cor-verde);
}

.text-solutions h2{
    color: white;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.text-solutions p{
    color: white;
    font-size: 5rem;
    font-family: var(--font-destaque);
    font-weight: bold;
}

.image-solutions img{
    width: 100rem;
    height: auto;
    position: absolute;
    bottom: 0;
    right: -20rem;
}